body {
}

.Game { 
    border: 2px solid black;
    width: 595px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    background-color: deepskyblue;
}

.Brick {
    border: 2px solid black;
    display: inline-block;
    width: 49px;
    height: 20px;
    background-color: whitesmoke;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: -4px;
    box-shadow: 0px 0px 20px white;
}

.Bricks {
    width: 600px;
}

.Ball {
    border: 1px solid black;
    position: absolute;
    top: 300px;
    left: 49%;
    box-shadow: 0px 0px 20px gray;
    background: blue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0;
}

.Player {
    position: absolute;
    top:580px;
    display: inline-block;
    left: 45%;
    box-shadow: 0px 0px 20px gray;
    border: 2px solid black;
    width: 200px;
    height: 15px;
    background-color: white;
}